body {
    background: rgb(0, 58, 0) no-repeat fixed center;
    display: flex;
    flex-direction: column;
    z-index: -999;
    position: relative;
}


/*If we add padding or a border or margin to something, it does not add to the size. It is included in the content.*/

*,
*::before,
*::after {
    box-sizing: border-box;
}

#header {
    display: flex;
    flex-direction: column;
    padding-bottom: 0;
}

.subtitle::after {
    content: "";
    background-image: url(./hisoka.jpg);
    background-size: 100% 100%;
    display: inline-block;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: solid whitesmoke 5px;
    margin: 10px;
}

.title {
    display: inline-block;
    position: relative;
    text-align: center;
    font-size: 75px;
    font-family: 'Rubik Bubbles', cursive;
    font-weight: 500;
    text-transform: uppercase;
    line-height: .9;
    color: rgb(255, 255, 0);
}

.title::before,
.title::after {
    content: '';
    height: 100%;
    display: block;
    position: absolute;
}

.title::after {
    background: rgba(0, 0, 0, 0.689);
    width: 100vw;
    height: 110%;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
    z-index: -3;
}

.subtitle {
    display: flex;
    justify-content: center;
    padding: 20px;
    font-size: 45px;
    font-family: 'Permanent Marker', cursive;
    font-weight: 200;
}

#pp img {
    width: 250px;
    height: auto;
    border-radius: 70%;
    border: 5px solid darkmagenta;
    margin: 30px;
}


/* div.your-container a {
    text-decoration: none;
    color: white;
    cursor: default;
    font-weight: normal;
}

div.your-container a span {
    visibility: hidden;
    position: absolute;
    left: 15em;
    top: -2.3em;
    background: black;
    width: 17em;
    border: 1px solid #404040;
    font-size: 0.9em;
    padding: 0.3em;
    cursor: default;
    line-height: 1.4;
}

div.your-container a:hover span {
    visibility: visible;
} */

#vid-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.video {
    width: 500px;
    height: auto;
    padding: 10px;
    border: 12px outset #e0e0e0;
    background-color: black;
}

#mid-header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#mid-header .h2 {
    font-size: 45px;
    font-family: 'Permanent Marker', cursive;
    font-weight: 200;
    font-weight: bold;
}

#mid-header .h3 {
    font-size: 30px;
    font-family: 'Permanent Marker', cursive;
    font-weight: 200;
}

#mid-header img {
    display: flex;
    justify-content: center;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: solid green 5px;
    transform: scale(1);
    transition: 200ms;
}

#mid-header img:hover {
    transform: scale(1.2);
}

#pp {
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin: 25px;
}

#pp p {
    display: flex;
    justify-content: center;
    font-size: 30px;
    font-family: 'Permanent Marker', cursive;
    font-weight: 200;
}

#icons {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    margin: 250px;
    margin-top: 0;
    margin-bottom: 0;
}

#icons img {
    width: 160px;
    height: auto;
    padding: 20px;
}

#icons button {
    transition: ease-out 0.4s;
    border: 5px solid yellow;
    background: black;
    position: relative;
    z-index: 1;
}

#icons button:hover {
    cursor: pointer;
}

#icons button::before {
    transition: 0.5s all ease;
    position: absolute;
    top: 0%;
    left: 50%;
    right: 50%;
    bottom: 0%;
    opacity: 0;
    content: '';
    background-color: yellow;
}

#icons button:hover::before {
    transition: 0.5s all ease;
    left: 0;
    right: 0;
    opacity: 1;
    z-index: -1;
}

.result-text {
    font-size: 35px;
    font-family: 'Permanent Marker', cursive;
    font-weight: 200;
    display: flex;
    justify-content: center;
    margin: 0;
}

.result-text1 {
    margin-top: 20px;
}

.result-text2 {
    margin-bottom: 150px;
}

#copyright {
    display: flex;
    justify-content: center;
    font-size: 17px;
}

.fa {
    padding-left: 10px;
    text-align: center;
    text-decoration: none;
    color: red;
}


/* Add a hover effect if you want */

.fa:hover {
    color: aqua;
    transform: scale(1.3);
}